<div class="row title">
  <div class="col-sm-3">
    <h6 class="bq">Número de parcelas:</h6>
    <input type="text" class="form-control" [(ngModel)]="installmentsQuantity" (ngModelChange)="gerarParcelasComValor(scheduleValue)" style="width:50px;">
  </div>
  
</div>    
<div class="row">
  <div class="col-md-2">
      <label>Valor</label>
  </div>
  <div class="col-md-3">
      <label>Vencimento</label>
  </div>
  <div class="col-sm-5">
      <label>Descrição</label>
  </div>
  <div class="col-sm-2">
      <label>Referência</label>
  </div>  
</div>
<div class="row">
  <div class="col-sm-12" *ngFor="let item of arrayQuantity;" >
      <app-schedules-installments-items></app-schedules-installments-items>
      <span></span>
  </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <label class="alert alert-warning">
          <i class="fa fa-exclamation-circle"></i>
          Este agendamento é a primeira das parcelas
        </label>
      </div>
</div>