<div class="row title">
  <div class="col-sm-3">
    <h6 class="bq">Número de parcelas:</h6>
    <span (click)='onClick()'>Click me please!</span>
    <input type="text" class="form-control" [(ngModel)]="installmentsQuantity" (ngModelChange)="generateInstallmentsItems(scheduleValue)" style="width:50px;">
  </div>
</div>    
<div class="row">

<table class="table table-responsive" *ngIf="installments.length > 0">
  <thead>
    <tr>
      <th>Valor</th>
      <th>Vencimento</th>
      <th>Descrição</th>
      <th>Referência</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of installments">
        <td>
            <input type="text" class="form-control" [(ngModel)]="item.value" >
        </td>
        <td><input type="date" class="form-control date" [(ngModel)]="item.date" id="testeArthur" ></td>
        <td><input type="text" class="form-control" [(ngModel)]="item.description"></td>
        <td><input type="text" class="form-control" [(ngModel)]="item.reference" ></td>
          
      </tr>
  </tbody>
  </table>
</div>
<div class="row">
    <div class="col-sm-12">
        <label class="alert alert-warning">
          <i class="fa fa-exclamation-circle"></i>
          Este agendamento é a primeira das parcelas
        </label>
    </div>
</div>