  <h1>
    <i class="fa fa-star"></i>
    Agendar novo recebimento
  </h1>
  <hr>
  <div class="row">
    <div class="col-sm-9">
      <label>Vencimento</label>
      <input type="date" class="form-control date" [(ngModel)]="dueDate">
    </div>
    <div class="col-sm-3">
      <label>Previsto para</label>
      <input type="date" class="form-control date" [(ngModel)]="predictionDate">
    </div>
  </div>
  <div class="row">
    <label></label>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <label>Nome</label>
      <select class="form-control">
        <option>Selecione um cliente...</option>
        <option>Twinings of London Ltda</option>
        <option>Wd 40 Ltda</option>
        <option>Samsung SA</option>
      </select>
    </div>
    <div class="col-sm-4">
      <label>Valor</label>
      <input type="text" class="form-control" placeholder="0,00" [(ngModel)]="totalValue">
    </div>
    <div class="col-sm-4">
      <label>Categoria</label>
      <select class="form-control">
        <option selected>Selecione uma categoria</option>
        <option>Receita com serviços</option>
        <option>Receita com vendas</option>
        <option>Outras</option>
      </select>
    </div>
  </div>
  <div class="row">
    <label></label>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <label>Descrição/Histórico(opcional)</label>
      <input type="text" class="form-control" placeholder="Ex: Serviço prestado">
    </div>
    <div class="col-sm-4">
      <label>Referência(opcional)</label>
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="row">
    <label></label>
  </div>
  <div class="row-fluid">
    <div id="accordion" role="tablist">
      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <div class="mb-0 card-title">
            <ui-switch id="checkedRecurrence" size="small" color="rgb(35,164,206)" [checked]="recurrenceEnabled" (click)="enableRecurrence()"></ui-switch>
            <label class="lb-center lb-link" (click)="enableRecurrence()">
                Tornar recorrente
            </label>
            <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" id="collapseRecurrence" (click)="openRecurrence()" style="display:hidden;"
              #collapseRecurrenceLocal>
            </a>
            <a onclick="document.getElementById('collapseRecurrence').click();" class="pull-right">
              <i class="fa" [ngClass]="{'fa-chevron-down': (recurrenceEnabled && !recurrenceOpened), 'fa-chevron-up': (recurrenceEnabled && recurrenceOpened) }" ></i> 
            </a>
          </div>
        </div>
        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <app-schedules-recurrences></app-schedules-recurrences>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
          <div class="mb-0 card-title">
            <ui-switch id="checkedBilling" size="small" color="rgb(35,164,206)" 
              [disabled]="blockInstallments" 
              [checked]="installmentsEnabled" 
              (click)="enableInstallments()"
              
              ></ui-switch>
            <label class="lb-center lb-link" (click)="enableInstallments()">
                Adicionar parcelas
            </label>
            <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" 
              id="collapseInstallments" 
              aria-controls="collapseTwo" 
              (click)="openInstallments()" #collapseInstallmentsLocal>
            </a>
            <a onclick="document.getElementById('collapseInstallments').click();" class="pull-right">
                <i class="fa" [ngClass]="{'fa-chevron-down': (installmentsEnabled && !installmentsOpened), 'fa-chevron-up': (installmentsEnabled && installmentsOpened) }" ></i> 
            </a>
          </div>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <app-schedules-installments [scheduleValue]="totalValue" [scheduleDate]="dueDate"></app-schedules-installments>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
          <div class="mb-0 card-title">
            <ui-switch id="checkedBilling" size="small" color="rgb(35,164,206)" [checked]="billingEnabled" style="display:hidden;" (click)="enableBilling()"></ui-switch>
            <label class="lb-center lb-link" (click)="enableBilling()">
                Cobrar automaticamente 
            </label>
            <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" 
              id="collapseBilling" 
              aria-controls="collapseThree" 
              (click)="openBilling()" 
              #collapseBillingLocal>
            </a>
            <a onclick="document.getElementById('collapseBilling').click();" class="pull-right">
                <i class="fa" [ngClass]="{'fa-chevron-down': (billingEnabled && !billingOpened), 'fa-chevron-up': (billingEnabled && billingOpened) }" ></i> 
            </a>
          </div>
        </div>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <app-schedules-billing></app-schedules-billing>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
          <div class="mb-0 card-title">
            <ui-switch id="checkedBilling" size="small" color="rgb(35,164,206)" [checked]="invoiceEnabled" style="display:hidden;" (click)="enableInvoice();">
            </ui-switch>
            <label class="lb-center lb-link" (click)="enableInvoice()">
                Enviar nota fiscal
            </label>
            <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" 
            aria-controls="collapseFour"
            id="collapseInvoice"
            (click)="openInvoice()" 
              #collapseInvoiceLocal>
            </a>
            <a onclick="document.getElementById('collapseInvoice').click();" class="pull-right">
                <i class="fa" [ngClass]="{'fa-chevron-down': (invoiceEnabled && !invoiceOpened), 'fa-chevron-up': (invoiceEnabled && invoiceOpened) }" ></i> 
            </a>
          </div>
        </div>
        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            <app-schedules-invoice [billingEnabled]="billingEnabled"></app-schedules-invoice>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row actions">
    <div class="col-sm-5"></div>
    <div class="col-sm-3">
      <div class="form-check" style="bottom: -4px;">
        <label class="form-check-label">
          <input class="form-check-input actions-options" type="checkbox"> Continuar agendando
        </label>
      </div>
    </div>
    <div class="col-sm-1">
      <a href="#" class="actions-options">Cancelar</a>
    </div>
    <div class="col-sm-3">
      <button class="btn btn-primary pull-right">
        Criar agendamento
      </button>
    </div>
  </div>
