<div class="row padding">
  <div class="col-md-6">
      <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" [(ngModel)]="billing.when" name="billingWhen" value="0" (click)="clearDayWhen()" >
            Enviar imediatamente
          </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" [(ngModel)]="billing.when" name="billingWhen" value="1" >
          <label>Enviar
              <input type="text" class="form-control" [(ngModel)]="billing.dayWhen"  [disabled]="billing.when == 0"> dias antes o vencimento
          </label>
        </label>
      </div>
  </div>
  <div class="col-md 6">
    <h6 class="bq">Dados do pagador</h6>
    <p class="sendTo"><em>Cia de Importação e Exportação das Índias Ltda</em></p>
    <p class="sendTo"><strong class="bq cnpj">Cnpj:</strong> <em>61.169.915/0001-10</em></p>
    <hr>
    <h6 class="bq">Enviar para</h6>
    <p class="text-left sendTo"><em>financeiro@empresa.com.br</em></p>
    <p class="text-left sendTo">
      <em>outroemail@empresa.com.br</em>
    </p>
    <hr>
      <a href="#" class="text-center">Modificar dados de cobrança</a>
  </div>
</div>
