<tr>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>        
</tr>




<!-- <div class="col-sm-1">
    <label class="lh35">{{installment.index}}.</label>
</div>
<div class="col-md-2">
    <input type="text" class="form-control" [(ngModel)]="installment.value">
</div>
<div class="col-md-3">
    <input type="date" class="form-control date" [(ngModel)]="installment.date">
</div>
<div class="col-sm-4">
    <input type="text" class="form-control" [(ngModel)]="installment.description">
</div>
<div class="col-sm-2">
    <input type="text" class="form-control" [(ngModel)]="installment.reference">
</div>   -->

<!-- <td> 
    <label class="lh35">{{installment.index}}.</label>
</td> -->
       

<!-- <td >
    <span class="lh35">{{installment.index}}.</span>
    <input type="text" class="form-control" [(ngModel)]="installment.value">
</td>
<td>
    <input type="date" class="form-control date" [(ngModel)]="installment.date">
</td>
<td>
    <input type="text" class="form-control" [(ngModel)]="installment.description">
</td>
<td>
    <input type="text" class="form-control" [(ngModel)]="installment.reference">
</td> -->

