<div class="row padding">
  <div class="col-md-6">
      <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="exampleRadios" value="0" checked>
            Imediatamente
          </label>
      </div>
      <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="exampleRadios" value="0">
            Quando o pagamento for confirmado
          </label>
      </div>
      <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="exampleRadios" value="0">
            Quando a cobrança for gerada
          </label>
      </div>             
  </div>
  <div class="col-md 6">
    <h6 class="bq">Dados do pagador</h6>
    <label class="sendTo">Cia de Importação e Exportação das Índias Ltda</label>
    <label class="sendTo"><strong class="bq">Cpf:</strong> 123.456.789-32</label>
    <hr>    
    <h6 class="bq">Enviar para</h6>
    <p class="text-left sendTo">financeiro@empresa.com.br</p>
    <p class="text-left sendTo">outroemail@empresa.com.br</p>
    <hr>
    <h6 class="bq">Dados da emissão</h6>
    <label class="fullLabel"><strong class="bq">Serviço:</strong> 17.19 - Contabilidade</label>
    <label class="fullLabel"><strong class="bq">Natureza:</strong> Tributação no município </label>
    <label class="fullLabel"><strong class="bq">Retenção ISS:</strong> Não retém </label>
    <hr>
    <p class="text-left">
        <a href="#">Modificar dados da emissão</a>
    </p>
  </div>
</div>
