<h3>Nibo Protótipos</h3>
<table class="table">
  <thead class="thead-inver">
    <tr>
      <th>Link</th>
      <th>Descrição</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a routerLink="/recurrence/new" routerLinkActive="active"> Criar novo recebimento</a>  
      </td>
      <td>Criação de novo agendamento com rotinas recorrentes</td>
    </tr>
    <tr>
      <td>
        <a routerLink="/recurrence/edit" routerLinkActive="active"> Editar agendamento recorrente</a>  
      </td>
      <td>
        Edição de um agendamento recorrente
      </td>
      <td></td>
    </tr>
  </tbody>
</table>